doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        script(src="/javascripts/angscript.js")
        script(src="/javascripts/teacher.js")
        meta(charset="utf-8")
        title Marker Clustering
        style.
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
            height: 60%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            }
    body(ng-app="teacher",ng-controller="teacherController")
        #map
        br
        center
            select#ex2.form-control(ng-model="data.subject")
                option Physic
                option Math
                option Chemistry
                option History
            button.btn.btn-success(ng-click="submit()") submit
        table.table.table-striped
                thead.thead-inverse
                    tr
                        th Map Number
                        th Name
                        th Contact
                tbody
                    tr(ng-repeat="data in labelsData")
                        td {[{data.number}]}
                        td {[{data.Name}]}
                        td {[{data.Contact}]}    
        script.
            function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 23.40601, lng: 79.45809}
            });
            labels="123456789"
            var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length],
            title:"deepak"
            });
            
            });
            
            
            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            
            }
           
            
            
        script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
        script(async="", defer="", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxJWtz5YIUtUvsNK69gbRFUGLbOiedfqw&callback=initMap")
